.filter-container {
    display: flex;
    align-items: center;
    background-color: #e6e4e4 ;
    width: 40%;
    padding: 10px;
    border: 2px solid  #fca548  ;
    border-radius: 5px;
}

.filter-search-bar input {
    border-radius: 3px;
    border: none;
    padding: 10px 30px;
    margin-left: 20px;
}

.filter-icon {
    display: flex;
}