.filter
    &-container
        display: flex
        justify-content: space-between
        background-color: #e6e4e4
        width: 40%
        padding: 10px
        border: 2px solid  #fca548
        border-radius: 5px
    &-search-bar 
        display: flex
        & input
            border-radius: 3px
            border: none
            padding: 10px 30px
            margin-left: 20px
            display: flex
    &-icon 
        display: flex